ion-header{
  ion-toolbar{
    --background: #66c8f5;
    font-family: "Satisfy",cursive !important;
    letter-spacing: 2px;
    font-size: 2rem !important;
    color: #fff;
    ion-title{
      margin-top: 2px;
      font-size: 2rem !important;
    }

  }

}
