<ion-header class="ion-no--border" mode="ios">
  <ion-toolbar class="ion-padding">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
<ion-title>Chat Gaboma</ion-title>
<ion-icon name="camera-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="tabs ion-padding">
<ion-segment value="chats" (ionChange)="segmentChange($event)">
<ion-segment-button value="chats">
<ion-label>chats</ion-label>
</ion-segment-button>
<ion-segment-button value="actu">
  <ion-label>Actualite</ion-label>
  </ion-segment-button>


</ion-segment>
</div>
<div class="chat-list" *ngIf="activedTab =='chats'">
  <div class="recent-chats ion-padding">
    <div class="heading">
      <ion-label>
      <h1>Recent Chats</h1>
    </ion-label>

<ion-icon name="search-sharp"></ion-icon>
    </div>
    <div class="chats">
<ion-item lines="none" routerLink="/conversation-page">
<ion-avatar slot="start">
  <img src="https://i.pravatar.cc/300" alt="">

</ion-avatar>
<ion-label class="ion-text-nowrap">
<h2>Bella</h2>
<p>Typing...</p>
</ion-label>
<div class="info-div">
  <p>
    4:20
  </p>
</div>
</ion-item>

    </div>
  </div>
</div>

<div class="chat-list" *ngIf="activedTab =='actu'">

  <ion-item lines="none" routerLink="/actualiter">

    <ion-avatar slot="start">
      <img src="https://i.pravatar.cc/300" alt="">

    </ion-avatar>
    <ion-label class="ion-text-nowrap">

    <h2>Actualiter</h2>
    <p>Typing...</p>
    </ion-label>
    <div class="info-div">
      <p>
        4:20
      </p>
    </div>
    </ion-item>
</div>
</ion-content>
